{% extends "base.html" %}
{% load as_vertical_form from bootstrap %}
{% load gross from prices_i18n %}
{% load i18n %}

{% block title %}{% trans "Ваша Корзина" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
<li><a href="{% url 'cart:index' %}">{% trans "Корзина" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
{% if cart %}
<form role="form" action="." method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-3">{% trans "Продукт" %}</th>
                <th class="col-sm-2">{% trans "Исполнение" %}</th>>
                <th class="col-sm-2">{% trans "Количество" %}</th>
                <th class="col-sm-2">{% trans "Цена" %}</th>
                <th class="col-sm-2">{% trans "Всего" %}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td class="col-sm-3"></td>
                <td class="col-sm-2"></td>
                <td class="col-sm-2">
                    <button class="btn btn-default" type="submit">
                        {% trans "Обновить количество" %}
                    </button>
                </td>
                <th class="col-sm-2">{% trans "Итого:" %}</th>
                <td class="col-sm-2">{% gross cart.get_total %}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for form in formset %}
            <tr>
                <td>
                    <a href="{{ form.cart_line.product.get_absolute_url }}"><H4>{{ form.cart_line.product }}</H4></a>
                </td>
                <td>Dn:{{ form.cart_line.product }}</td>
                <td>{{ form.quantity|as_vertical_form:False }}</td>
                <td>{% gross form.cart_line.get_price_per_item %}</td>
                <td>{% gross form.cart_line.get_total %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <div>
            <a href="{% url "cart:index" %}" class="btn btn-primary">{% trans "Checkout" %}</a>
        </div>
    </div>
</form>
{% else %}
<p>
    {% trans "Ваша корзина пуста." %}
</p>
{% endif %}
{% endblock content %}
