{% extends "base.html" %}

{% block title %}Удаление компании — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'account:details' %}">Мой профиль</a></li>
    <li><a href="."> "Удаление компании"</a></li>
{% endblock breadcrumb %}

{% block content %}
    <h2> Уверены ли вы в своих намерениях? </h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Удаление компании:
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">{{ company.company_name }}</li>
                        <li class="list-group-item">{{ company.phone }}</li>
                        <li class="list-group-item">ИНН: {{ company.inn }}</li>
                        <li class="list-group-item">КПП: {{ company.kpp }}</li>
                        <li class="list-group-item">{{ company.address }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <form action="." method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'account:details' %}" class="btn btn-link">Отмена</a>
    </form>
{% endblock content %}
