{% extends "base.html" %}
{% load as_vertical_form from bootstrap %}

{% block title %}Страница в разработке{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-6">

            <div class="panel panel-default">
                 <div class="panel-heading">Данная страница находиться в разработке</div>
                 <div class="panel-body">
                     <span class="glyphicon glyphicon-time"></span>
                       Разработка проекта
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                            <span class="sr-only">Разработка: </span>
                        </div>
                     </div>
                        Выполнено: <span class="label label-info">20%</span>
                 </div>

                <ul class="list-group">
                    <li class="list-group-item">-> Основа сайта</li>
                    <li class="list-group-item">-> Категории</li>
                    <li class="list-group-item">-> Личный кабинет/компании</li>
                    <li class="list-group-item">-> Форма обратного звонка <br/> <i>TODO: редиррект на предыдущую страницу</i></li>
                    <li class="list-group-item">-> Форма заказанных звонков</li>
                    <li class="list-group-item">-> Рекурсивные каталоги</li>
                    <li class="list-group-item">-> Хлебные крошки, оформление каталогов</li>
                    <li class="list-group-item">-> Совмещение каталогов и продукции</li>
                    <li class="list-group-item">-> <i>TODO: разобраться с подкаталогами media, при сохранении изображений аватара, продукции, etc. </i></li>
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}
