
.b-container{
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}

.b-popup{
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.8);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 4;
}

.b-popup .b-popup-content{
    margin:50px auto 0px auto;
    width: 400px;
    padding:10px;
}
#closeGetCall {
    position: relative;
    top:-25px;
    right:-155px;
    z-index:50;
}

a:hover {
  cursor:pointer;
}